$themes: (
  light: (
    colorBackground: white,
    colorBackgroundBody: #f2f4f7,
    colorTextProfile: #272727,
    colorHeaderDataPicker:#6db0ff,
    colorText: #646777,
    colorTextAdditional: #646777,
    logoImg: url(../../shared/img/logo/favblannkon.webp),
    colorHover: #fafbfe,
    colorFolderHover: #f0eeee,
    colorGradientCommision: #8e2de2,
    colorGradientCommision2: #4a00e0,
    colorBorder: #eff1f5,
    colorIcon: #dddddd,
    imgInvert: invert(0%),
    colorFieldsBorder: #f2f4f7,
    colorBubble: rgba(242, 244, 247, 0.65),
    colorBubbleActive: rgba(234, 238, 255, 0.6),
    colorScrollbar: #B4BFD0,
    colorIconUp: #2bcf4f,
    colorBlue: #70bbfd9d,
    colorFitness: #646777,
    colorEmoji: #232329,
  ),
  dark: (
    colorBackground: #232329,
    colorBackgroundBody: #2a2a31,
    colorHeaderDataPicker:#063263,
    colorGradientCommision: #8e2de2,
    colorGradientCommision2: #4a00e0,
    colorTextProfile: #d1d1d1,
    colorText: #dddddd,
    colorTextAdditional: #999999,
    colorTextTable: #999999,
    logoImg: url(../../shared/img/logo/favblannkon.webp),
    colorHover: #38373f,
    colorFolderHover: #ffffff1A,
    colorBorder: #333246,
    colorIcon: #605f7b,
    colorIconUp: #0ce73b,
    imgInvert: invert(100%),
    colorFieldsBorder: #33333a,
    colorBubble: rgba(68, 79, 97, 0.65),
    colorBubbleActive: rgba(92, 104, 156, 0.6),
    colorBlue: #70bbfd9d,
    colorScrollbar: #606071,
    colorFitness: #ffffff,
    colorEmoji: #ffffff,
  )
);

@mixin themify($themes) {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function themed($key) {
  @return map-get($theme-map, $key);
}

$color-blue-accent: #00005c;
$text-color: mix(#000, $color-blue-accent, 64%);
$color-accent: #4ce1b6;
$color-light-accent: #55e5bb;
$color-light-yellow: #f4dd87;
$color-light-red: #f88e7d;
$color-dark-red: #721c24;
$color-very-light-red: #f8d7da;
$color-accent-hover: darken($color-accent, 10%);
$color-additional: #999999;
$color-additional-hover: darken($color-additional, 10%);

$color-yellow: #f6da6e;
$color-yellow-hover: darken($color-yellow, 10%);

$color-violet: #c88ffa;

$color-red: #ff4861;
$color-red-hover: darken($color-red, 10%);

$color-blue: #70bbfd;
$color-light-blue: #87c3f7;
$color-blue-hover: darken($color-blue, 10%);

$color-blue-account: #5060f1;
$color-blue-account-hover: darken($color-blue-account, 10%);

$color-gray: #787985;
$color-gray-hover: darken($color-gray, 10%);

$color-green: #b8e986;
$color-green-medium: #0ab94d;
$color-green-hover: darken($color-green, 10%);

$color-light-gray: #d8dfe9;
$color-light-gray-hover: darken($color-light-gray, 10%);
$color-dusty-white: #dddddd;
$color-white: #ffffff;

$color-text: #646777;
$color-term-text: #1b1b1b;

$color-icon-PayPal: #1655dd;
$color-icon-CC: #dd9716;

$color-icon-invoice: #5f5e69;

$color-border-icon-exchange: #759aff;
$color-icon-exchange: #002ba0;

$color-title-profile: #0066ff;

$color-gradient-btn-payment: linear-gradient(90deg, rgba(18,22,23,1) 0%, rgba(43,43,59,1) 17%, rgba(74,74,83,1) 100%);
$color-gradient-btn-payment-hover: linear-gradient(90deg, rgba(113,113,113,1) 0%, rgba(43,43,43,1) 54%, rgba(20,22,25,1) 100%);

$color-btn-payment-popup: #788af0;
$color-btn-payment-popup-hover: #4762ff;

// $color-background-done: #216bff;
// $color-background-payment: #02d467;
// $color-background-pending: #ffda36;
// $color-background-canceled: #f0112f;

$directions: (
  ltr: (
    direction: ltr,

    right: right,
    left: left,
    center: center,

    margin-right: 'margin-right',
    margin-left: 'margin-left',

    padding-left: 'padding-left',
    padding-right: 'padding-right',

    border-top-left-radius: 'border-top-left-radius',
    border-bottom-left-radius: 'border-bottom-left-radius',

    border-top-right-radius: 'border-top-right-radius',
    border-bottom-right-radius: 'border-bottom-right-radius',

    border-left: 'border-left',
    border-right: 'border-right',

    translate: 'translate(-50%, -50%);',
    mirrorY: 'scale(1, 1)',

    border-right-color: 'border-right-color',

    transform-sidebar: 'rotate(90deg)',

    flex-flow: row nowrap,
    row: 'row',

    sidebar-close: translateX(0),
    sidebar-no-desktop: translateX(calc(0%)),
    '-': '-',
  ),
  rtl: (
    direction: rtl,

    right: left,
    left: right,
    center: center,

    margin-right: 'margin-left',
    margin-left: 'margin-right',

    padding-left: 'padding-right',
    padding-right: 'padding-left',

    border-top-left-radius: 'border-top-right-radius',
    border-bottom-left-radius: 'border-bottom-right-radius',

    border-top-right-radius: 'border-top-left-radius',
    border-bottom-right-radius: 'border-bottom-left-radius',

    border-left: 'border-right',
    border-right: 'border-left',

    translate: 'translate(50%, -50%);',
    mirrorY: 'scale(1, -1)',

    border-right-color: 'border-left-color',
    transform-sidebar: 'rotate(-90deg)',

    flex-flow: row-reverse nowrap,
    row: 'row-reverse',

    sidebar-close: translateX(0),
    sidebar-no-desktop:  translateX(calc(100%)),
    '-': '+',
  )
);

@mixin directify($directions) {
  @each $direction, $map in $directions {
    .#{$direction}-support & {
      $direction-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($directions, $direction), '#{$key}');
        $direction-map: map-merge($direction-map, ($key: $value)) !global;
      }
      @content;
      $direction-map: null !global;
    }
  }
}

@function directed($key) {
  @return map-get($direction-map, $key);
}
