.login-modal-form {
  .modal-content {
    padding-top: 20px;
    padding-bottom: 5px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.modal-dialog {
  max-width: 385px;
}

.modal-content {
  border-radius: 10px;
  border: none;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.1);
  position: relative;
  padding: 50px 40px 60px 40px;
  text-align: center;

  @include themify($themes) {
    background-color: themed('colorBackground');
    color: themed('colorText');
  }
}

.modal__close-btn {
  position: absolute;
  top: 0px;
  right: 15px;

  // @include directify($directions) {
  //   #{directed('right')}: 15px;
  // }

  font-size: 14px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;

  @include themify($themes) {
    color: themed('colorIcon');
  }
}

.modal__title-icon {
  width: 24px;
  height: 24px;
  font-size: 24px;
}

.modal__title {
  margin-top: 10px;
  margin-bottom: 15px;
  text-transform: capitalize;

  &:first-child {
    margin-top: 0;
  }
}

.modal__footer {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-bottom: 0;

  button {
    min-width: 100px;
    padding: 4px 25px;
    margin-bottom: 0;
  }

  @include directify($directions) {
    flex-flow: directed('flex-flow')!important;
  }
}

.modal-dialog--primary {

  .modal__title-icon {
    color: $color-blue;
  }
}

.modal-dialog--success {

  .modal__title-icon {
    color: $color-accent;
  }
}

.modal-dialog--warning {

  .modal__title-icon {
    color: $color-yellow;
  }
}

.modal-dialog--danger {

  .modal__title-icon {
    color: $color-red;
  }
}

.modal-dialog--colored {
  color: $color-white;

  .modal__title-icon {
    color: $color-white;
  }

  .modal__close-btn {
    color: $color-text;
  }

  .modal__footer {

    button:first-child {
      color: $color-white;
      background-color: rgba(255, 255, 255, 0.3);
      border-color: $color-white;

      &:before {
        background-color: rgba(255, 255, 255, 0.2);
      }
    }

    button:last-child {
      border-color: white;
      color: $color-white;
    }
  }

  &.modal-dialog--primary .modal-content {
    background-color: $color-blue;
  }

  &.modal-dialog--success .modal-content {
    background-color: $color-accent;
  }

  &.modal-dialog--warning .modal-content {
    background-color: $color-yellow;
  }

  &.modal-dialog--danger .modal-content {
    background-color: $color-red;
  }
}

.modal-dialog--header {
  max-width: 520px;

  .modal-content {
    padding: 0;

    @include directify($directions) {
      text-align: directed('left');
    }
  }

  .modal__header {
    padding: 15px 20px;
    position: relative;
    border-radius: 10px 10px 0 0;
  }

  .modal__header-payment {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .modal__body-payment-transaksi {
    // display: flex;
    // align-items: center;
  }

  .modal__title {
    margin: 0;
    font-weight: 500;
  }

  .modal__close-btn {
    color: $color-text;
    top: calc(50% - 8px);
  }

  .modal__body {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    padding-left: 20px;

    @include directify($directions) {
      #{directed('padding-right')}: 40px;
      #{directed('padding-left')}: 20px;
    }
  }

  .modal__footer {
    margin-bottom: 40px;
    justify-content: flex-end;

    @include directify($directions) {
      #{directed('padding-right')}: 20px;
    }
  }

  &.modal-dialog--primary .modal__header {
    background-color: $color-blue;
    color: $color-white;
  }

  &.modal-dialog--success .modal__header {
    background-color: $color-accent;
    color: $color-white;
  }

  &.modal-dialog--warning .modal__header {
    background-color: $color-yellow;
    color: $color-white;
  }

  &.modal-dialog--transaction .modal__header {
    background-color: $color-light-gray;
  }

  &.modal-dialog--danger .modal__header {
    background-color: $color-red;
    color: $color-white;
  }
}

.border-warning-ui {
  width: 40px;
  height: 40px;
  margin: 0px 12px 0px 0px;
  position: relative;
  background: rgb(206, 32, 2);
  border-radius: 10%;
}

.card-email-modal{
  font-size: 20px;
  position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  color: rgb(255, 255, 255);
}

.align-text{
  text-align: center;
}

.modal-dialog--carousel {
  display: flex;
  align-items: center;
  max-width: 100%;
  height: 100%;
  user-select: none;
  -moz-user-select: none;

  .modal-content {
    display: flex;
    align-items: center;
    box-shadow: none;
    background: none;

    @include directify($directions) {
      text-align: directed('left');
    }
  }

  .modal__header {
    color: $color-white;
    height: 50px;
    text-align: right;
    padding: 10px 20px 10px 0;
    position: relative;
  }

  .modal__title {
    margin: 0;
  }

  .modal__close-btn {
    color: $color-text;
  }

  .modal__btn {
    padding: 0;
    cursor: pointer;
    color: transparentize($color-white, .5);

    &:hover:not([enabled]) {
      color: $color-white;
    }

    .modal__btn_left {
      width: 80px;
      height: 80px;
      position: absolute;
      left: 0;
    }

    .modal__btn_right {
      width: 80px;
      height: 80px;
      position: absolute;
      right: 0;
    }
  }

  .modal__body {
    max-width: 50%;
    overflow: hidden;

    li{
      align-items: stretch;
    }

    @include directify($directions) {
      #{directed('padding-right')}: 40px;
      #{directed('padding-left')}: 20px;
    }
  }

  .modal__footer {
    justify-content: flex-end;
    color: $color-white;
  }
}

.modal__body-payment{
  border-top: 2px solid #dee2e6 !important;
  // border: ;
  // border-color: rgb(121, 120, 120);
}

@media screen and (max-width: 768px) {
  .modal-dialog--carousel {

    .modal__body {
      max-width: 100%;
    }

    .modal__btn {
      display: none;
    }
  }
}


.modal-dropdown {
  z-index: 1050;
  width: 28.5% !important;
}

.modal__border-payment-paypal {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  background: rgba(62, 100, 255, 0.05);
  border-radius: 50%;

  @include themify($themes) {
    color: themed('colorBlue');
  }
}

.modal__border-payment-warning {
  width: 80px;
  height: 80px;
  margin: 0 auto;
  position: relative;
  background: rgba(216, 6, 6, 0.05);
  border-radius: 50%;

  @include themify($themes) {
    color: themed('colorBlue');
  }
}

.modal__detail-payment {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
}

.modal__detail-bic_rn {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.justify-number {
  text-align: center;
  margin-top: 12px;
}

.model__title-account-number {
  margin-top: 8px;
  font-size: 14px;
  font-weight: 400;
}

.modal__border-transaction {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(40, 40, 41, 0.103);
  border-radius: 50%;
  font-size: 20px;

  @include themify($themes) {
    color: themed('colorBlue');
  }
}

.modal__display{
  display: flex;
  align-items: center;
}

.grid-column_transaction{
  display: grid;
  padding: 1.25rem 1.5rem;
  gap: 1rem;
  grid-template-columns: repeat(3,minmax(0,1fr));
  background-color: #e9e9e975;
  text-align: start;
}