.account {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  display: flex;
  overflow-y: auto;

  @include themify($themes) {
    background: themed('colorBackground');
  }

  &.account--photo {
    background: url(../../shared/img/404/bg_404.png) no-repeat center;
    background-size: cover;

    .account__card {
      background-color: rgba(0, 10, 16, 0.8);
      color: #ffffff;
    }

    .form__form-group-icon, .form__form-group-button {
      background: transparent;
    }

    .form__form-group-icon, input:not(:last-child) {
      border-right: none;
    }

    .form__form-group-button, input {
      border-left: none;
    }

    .form__form-group-button.active {
      // border-color: #eff1f5;

      svg {
        fill: $color-accent;
      }
    }

    input {
      color: #ffffff;

      &:focus {
        border-color: #eff1f5;
      }
    }

    p {
      color: #ffffff;
    }

    .account__title {
      color: #ffffff;
    }
  }
}

.account__wrapper-position{
  position: relative;
}

.account__wrapper {
  margin: auto;
  padding: 10px;
}

.account__wrapper-arrow{
  position: absolute;
  top: 30px;
  left: 20px;
}

.icon__mail-password {
  width: 64px !important;
  height: 64px;
  background-color: #3913c0cc;
  border-radius: 10%;
  padding: 10px;
  margin-right: 12px;
  display: inline-block;
  color: #ffffff;
}

.icon__mail {
  display: flex;
  justify-content: space-between;
  margin: 32px 0px;
  align-items: center;
}

.account__character-title{
  width: 400px;
  height: 400px;
  background-color: #A9D6F2;
  border-bottom-right-radius: 100px;
  position: absolute;
  padding: 30px;
  top: 0px;
  left: 0px;
  border-bottom: 0;
  opacity: 0.2;
  z-index: 10;

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.text__title{
  font-size: 30px;
  opacity: 1;
  z-index: 100;
  position: absolute;
  text-align: center;
  line-height: 50px;
  top: 60px;
  left: 80px;
  max-width: 200px;
  width: 100%;

  @include themify($themes) {
    color: themed('colorBackground');
  }
}

.account__character {
  background-color: #2727D3;
  min-height: 100vh;
  max-width: 700px;
  width: 100%;
  margin-right: 40px;
  display: none;

  .account__character-ui{
    position: relative;
    height: 100%;
    width: 699px;
  }

  @media screen and (min-width: 1200px) {
    display: block;
  }

}

.account__bubble {
  position: absolute;
  top: 100px;
}

.account__character-flat {
  position: absolute;
  bottom: 0px;
  width: 700px;
}

.account__card {

  @include themify($themes) {
    background-color: themed('colorBackground');
  }

  background-color: none;
  border-width: 10px;
  border-radius: 2%;
  border: solid #e7e7ff;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  padding: 50px 60px;
  max-width: 520px;
  width: 100%;
}

.account__profile {
  text-align: center;
}

.account__btns {
  display: flex;
  width: calc(100% + 10px);
  margin: -10px 0 -20px -10px;

  a {
    margin: 10px 0 20px 10px;
    white-space: nowrap;
  }
}

.account__btn {
  // width: 100%;
  // width: 94px;
  margin-right: 0;
}

.account__readmore {
  width: 15%;
  margin-right: 0;
  margin-left: 12px;
  color: #ffffff;
}

.payment__btn {
  width: 40%;
  margin-right: 0;
}

.account__avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
  overflow: hidden;
}

.account__name {
  font-size: 11px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 15px;
  margin-top: 5px;
}

.account__sub {
  margin-top: 0;
  margin-bottom: 10px;
  color: $color-additional;
  font-size: 11px;
  line-height: 15px;
}

.account_forget_password-field{
  margin-top: 10px;
}

.account__forgot-password {
  position: absolute;
  font-size: 11px;
  line-height: 15px;
  bottom: -18px;
  right: 0;

  a {
    color: $color-blue;

    &:hover {
      color: $color-blue-hover;
      text-decoration: none;
    }
  }
}

.form__form-group--forgot {
  margin-bottom: 40px;
}

.account__or {
  text-align: center;
  margin-top: 35px;
  margin-bottom: 20px;
  position: relative;

  &:before, &:after {
    content: "";
    height: 1px;
    width: calc(50% - 90px);
    background: #dddddd;
    position: absolute;
    top: 10px;
  }

  &:before {
    left: 0;
  }

  &:after {
    right: 0;
  }
}

.account__social {
  text-align: center;
}

.account__social-btn {
  display: inline-block;
  height: 38px;
  width: 38px;
  border-radius: 5px;
  padding: 9px;
  margin-right: 10px;
  transition: all 0.3s;
  border: none;

  &:last-child {
    margin-right: 0;
  }

  svg {
    fill: #ffffff;
    height: 20px;
    width: 20px;
  }

  &.account__social-btn--facebook {
    background: #4766a4;

    &:hover {
      background: darken(#4766a4, 10%);
    }
  }

  &.account__social-btn--google {
    background: #c74d4d;

    &:hover {
      background: darken(#c74d4d, 10%);
    }
  }
}

.account__head {
  margin-bottom: 30px;
  display: flex;
}

.account__logo {
  font-weight: 700;
}

.account__logo-accent {
  color: $color-blue;
}

.account__have-account {
  text-align: center;
  margin-top: 20px;

  a {
    color: $color-blue;
    transition: all 0.3s;

    &:hover {
      color: $color-blue-hover;
      text-decoration: none;
    }
  }
}

@media screen and (max-width: 520px) {

  .account__card {
    padding: 35px 30px;
  }
}

@media screen and (max-width: 425px) {

  .account__btns {
    flex-wrap: wrap;
  }
}

.account__head-image{
  width: 60px;
  height: 60px;
}

.account__margin{
  margin-right: 30px;
}

.form__form-group-flex{
  display: flex;

  .form__form-group-width{
    width: 200px;
  }
}

.form__group-margin-forget{
  margin-bottom: 10px;
  font-size: 13px;
}

.account__wrapper-card {
  padding: 270px 200px;
}

.footer__link {
  display: flex;
  margin-top: 30px;
  align-items: center;
  justify-content: space-between;
}


.footer__link-term{
  margin: 10px 0 0 0;

  @include themify($themes) {
    color: themed('colorEmoji');
  }
}